* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html,
body {
height: 100%;
width: 100%;
background: black;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center ;
    align-items: center;
}
.keys{
    height: 200px;
    width: 30px;
    background: white;
    

}
.keys:active{
    scale: 0.9;
}